<template name="dashboard">

    <div class="jumbotron text-center">
        <h3>{{_ 'dashboard_title'}}</h3>
        <p>
            {{currentUser.profile.name}}<br>
            {{#if currentUser.services.google}}
                <img class="img-circle" src="{{currentUser.services.google.picture}}"  >
            {{/if}}
            {{#if isInRole 'admin' }}
                Usted es Administrador
            {{/if}}
            {{#if isInRole 'encargado' }}
                Usted es Encargado
            {{/if}}
            {{#if isInRole 'operador' }}
                Usted es Operador
            {{/if}}

        </p>
    </div>

</template>
