<template name="alerts">
    <h1>Alertas</h1>
    <div>
        <div class="row">
            <div class="col-md-2"><label class="label label-warning" ><i class="fa fa-exclamation-triangle"></i></label> Por Vencer</div>
            <div class="col-md-2"><label class="label label-danger" ><i class="fa fa-thumbs-o-down"></i></label> Vencido</div>
            <div class="col-md-2"><label class="label label-default" ><i class="fa fa-question"></i></label> Sin PH</div>
        </div>
    </div>
    {{#each cylinders}}
        <div class="row">
            {{>micilindro}}
            {{>alert}}
        </div>
        <hr>
    {{/each}}
</template>
<template name="alert">
    <div class="col-xs-7 col-sm-6" style="padding-top: 10px">
        {{customer}}
    </div>
    <div class="col-xs-5" style="padding-top: 10px">
        <button id="send" class="btn btn-primary fa fa-send-o"></button>
        <button id="cancelalerts" class="btn btn-danger fa fa-ban"></button>
    </div>
    {{#each alerts}}
        <div class="row">
            <div class="col-xs-8">
                {{createdAt}} se envió
            </div>
            <div class="col-xs-4">
                {{alert}}
            </div>
        </div>
    {{/each}}
</template>