<template name="certificatepdf">
    <span> <h1>Certificado</h1>
    {{#unless workorder.sent}}

    <button class="tocertificated btn btn-success btn-circle fa fa-thumbs-o-up"
            data-toggle="tooltip" data-placement="top" title="Pasar a Certificados Terminados"></button>


    {{/unless}}
    <!--<button id="send">Send</button>-->
    </span>


    <div id="certificate" style="background-color: white;padding-top: 10px; padding-bottom: 30px">

        <div style="text-align: center">
            <table cellpadding="0" style="margin-right: auto; margin-left: auto;
                    width: 100%;">
                <tr>
                    <td align="center"><img width="50px" src="{{veritas}}"></td>
                    <td align="center"><img width="250px" src="{{logo}}"></td>
                    <td align="center"><img width="50px" ></td>
                </tr>
            </table>

            <div style="font-family: 'Arial', sans-serif;
                        width: 640px;
                        margin-right: auto; margin-left: auto;
                        text-align: center;
                        padding: 15px;
                         ">
                <p style="font-family: 'Arial', sans-serif; font-size: smaller">
                    GODOY CRUZ 3441 GUAYMALLEN MENDOZA - TEL 261-4266732
                </p>
                <p style="font-family: 'Arial', sans-serif;font-size: small">
                    CENTRO DE ADECUACION Y ENSAYO PERIODICO DE CILINDROS SEGUN NORMA IRAM 2529-1<br>
                    CERTIFICADO DPS REGISTRO Nº 158 RESOLUCION 00361/15
                    <!-- CERTIFICADO DE ENSAYO PERIODICO A CILINDROS SEGUN NORMA<br>
                     IRAM 2529-2<br>
                     CERTIFICADO DPS REGISTRO Nº 158 RESOLUCION 00361/15-->
                </p>
            </div>


            <div style="font-family: 'Arial', sans-serif;
                        width: 640px;
                        margin-right: auto; margin-left: auto;
                        background-color:#DEDCCF !important;
                        -webkit-print-color-adjust: exact;
                        border-radius: 25px;
                        text-align: center;
                        padding: 15px;
                         ">
                <table cellpadding="0" style="margin-right: auto; margin-left: auto;
                    border-spacing:0 5px;font-size: smaller">
                    <tr>
                        <td style="width: 200px">CERTIFICADO N°</td><td style="width: 200px">{{workorder.workorder_number}}</td>
                    </tr>
                    <tr>
                        <td style="width: 200px">FECHA DE ENSAYO</td><td style="width: 200px">{{fecha}}</td>
                    </tr>
                    <tr>
                        <td>PROPIETARIO</td><td style="text-transform: uppercase"><b>{{workorder.customer.name}}</b></td>
                    </tr>
                    <tr>
                        <td>CLASE</td><td>{{workorder.cylinder.class}}</td>
                    </tr>
                    <tr>
                        <td>AÑO DE FABRICACION</td><td>{{manufacturing_date}}</td>
                    </tr>
                    <tr>
                        <td>CAPACIDAD EN MTS</td><td>{{workorder.cylinder.capacity}}</td>
                    </tr>
                    <tr>
                        <td>CILINDRO N°</td><td>{{workorder.cylinder.cylinder_number}}</td>
                    </tr>
                    <tr><td colspan="2"><hr></td></tr>
                    <tr>
                        <td>PRESIÓN DE PRUEBA</td><td>{{workorder.cylinder.test_pressure}}</td>
                    </tr>
                    <tr>
                        <td>PRESIÓN DE TRABAJO</td><td>{{workorder.work_pressure}}</td>
                    </tr>
                    <tr>
                        <td>MASA</td><td>{{workorder.mass}}</td>
                    </tr>
                    <tr>
                        <td>CONTROL DE MASA</td><td>{{workorder.mass_control}}</td>
                    </tr>
                    <tr>
                        <td>VOLUMEN CILINDRO</td><td>{{cylinder_volume}}</td>
                    </tr>
                    <tr>
                        <td>LECTURA BURETRA MAXIMA</td><td>{{workorder.burette_reading_max}}</td>
                    </tr>
                    <tr>
                        <td>LECTURA MAXIMA CM3</td><td>{{cm3_reading_max}}</td>
                    </tr>
                    <tr>
                        <td>PRESIÓN EN BARES</td><td>{{workorder.cylinder.test_pressure}}</td>
                    </tr>
                    <tr>
                        <td>TEMPERATURA</td><td>{{workorder.temperature}}</td>
                    </tr>
                    <tr>
                        <td>FACTOR DE COMP.</td><td>{{balancing_factor}}</td>
                    </tr>
                    <tr>
                        <td>LECTURA BURETRA FINAL</td><td>{{workorder.burette_reading_final}}</td>
                    </tr>
                    <tr>
                        <td>LECTURA FINAL CM3</td><td>{{cm3_reading_final}}</td>
                    </tr>
                      <tr>
                        <td colspan="2"><hr></td>
                    </tr>
                    <tr>
                        <td>DEFORMACION TOTAL</td>
                            <td style="background-color:
                                {{#if deformation_test}}
                                green
                                {{else}}
                                darkred
                                {{/if}};color: white; border-radius: 5px;">
                                {{#if deformation_test}}
                                    APROBADO
                                {{else}}
                                    RECHAZADO
                                {{/if}}
                                <span style="                   display: inline-block;
                                                                min-width: 10px;
                                                                padding: 3px 7px;
                                                                font-size: 12px;
                                                                font-weight: bold;
                                                                line-height: 1;
                                                                color: #fff;
                                                                text-align: center;
                                                                white-space: nowrap;
                                                                vertical-align: middle;
                                                                background-color: #777;
                                                                border-radius: 10px;
                                                        ">{{total_deformation}} %</span>
                            </td>
                    </tr>
                    <tr>
                        <td>OVALIZACION</td><td style="background-color:   {{#if roundness_test}}
                    green
                    {{else}}
                    darkred
                    {{/if}};
                                                        color: white;
                                                        border-radius: 5px;
                                                        ">

                        {{#if roundness_test}}
                            APROBADO
                        {{else}}
                            RECHAZADO
                        {{/if}}
                    </td>
                    </tr>
                    <tr>

                        <td>ESPESOR DE PARED</td><td style="background-color: {{#if thickness_test}}
                                                green
                                                {{else}}
                                                darkred
                                                {{/if}};
                                                        color: white;
                                                        border-radius: 5px;
                                                        ">
                            {{#if thickness_test}}
                                APROBADO
                            {{else}}
                                RECHAZADO
                            {{/if}} <span style="
                            display: inline-block;
                            min-width: 10px;
                            padding: 3px 7px;
                            font-size: 12px;
                            font-weight: bold;
                            line-height: 1;
                            color: #fff;
                            text-align: center;
                            white-space: nowrap;
                            vertical-align: middle;
                            background-color: #777;
                            border-radius: 10px;">{{thickness_wall}} mm</span>  </td>
                    </tr>
                    <tr>
                        <td>ESPESOR DE FONDO</td><td style="background-color: {{#if thickness_test}}
                    green
                    {{else}}
                    darkred
                    {{/if}};
                                                        color: white;
                                                        border-radius: 5px;
                                                        ">
                        {{#if thickness_test}}
                            APROBADO
                        {{else}}
                            RECHAZADO
                        {{/if}}
                        <span style="
                            display: inline-block;
                            min-width: 10px;
                            padding: 3px 7px;
                            font-size: 12px;
                            font-weight: bold;
                            line-height: 1;
                            color: #fff;
                            text-align: center;
                            white-space: nowrap;
                            vertical-align: middle;
                            background-color: #777;
                            border-radius: 10px;">{{thickness_bottom}} mm</span>  </td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr></td>
                    </tr>
                    <tr>
                        <td><b>RESULTADO FINAL</b></td>

                        {{#if workorder.approved}}
                        <td style="background-color: green;
                                                        color: white;
                                                        border-radius: 5px;
                                                        "><b>APROBADO</b></td>
                        {{else}}
                            <td style="background-color: darkred;
                                                        color: white;
                                                        border-radius: 5px;
                                                        "><b>RECHAZADO</b></td>
                        {{/if}}
                    </tr>
                </table>

            </div>
            <table cellpadding="0" style="margin-right: auto; margin-left: auto;
            font-family: 'Arial', sans-serif;">
                <tr>
                    <td style="width: 300px">
                        FECHA VENCIMIENTO
                        <h1>
                            <label class="label label-primary">{{vencimiento}}</label>
                        </h1>
                    </td>
                    <td align="center" style="width: 300px;padding-top: 20px">ESTAMPILLA
                        <div style="border: solid 1px;width: 100px;height: 100px;
                                border-radius: 5px;
                                ">
                            <p style="margin: 0;
                                    position: relative;
                                    top: 30%;
                                    left: 50%;
                                    margin-right: -50%;
                                    transform: translate(-50%, -50%);
                                    font-size: small;
                                    text-transform: uppercase">
                                {{workorder.stamp}}
                            </p>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td style="vertical-align: bottom" >FIRMA</td>
                    <td >

                    </td>
                </tr>
            </table>
        </div>

    </div>

    <div style="text-align: center;margin-top: 20px">
        <button id="printWorkOrder" class="btn btn-default">Imprimir <i class="fa fa-print"></i></button>
    </div>

</template>