<template name="customers">
   <span>
            <h4>{{_ 'customers'}} <a href="{{pathFor 'customersnew'}}" class="btn btn-success">{{_ "new"}}</a></h4>

   </span>
   {{>customersearch}}

</template>
<template name="customer">

    <div class="col-xs-2 col-md-3">{{name}}</div>
    <div class="col-xs-2 col-md-3">{{email}}</div>
    <div class="col-md-2">{{phone}}</div>
    <div class="col-md-2">{{address}}</div>

</template>

<template name="customersnew">
    <h4>{{_ 'new'}} {{_ 'customer'}}</h4>
    {{> quickForm id='customeredit'
    collection='Customers'
    validation='blur'
    type='insert'
    buttonContent='Enviar'
    afFieldInput-placeholder="schemaLabel"
    omitFields='_id,userId,createdAt,companyId,updatedAt'
    autosave=false
    }}
</template>
<template name="customersedit">
    <h4>{{_ 'new'}} {{_ 'customer'}}</h4>
    {{> quickForm id='customeredit'
    collection='Customers'
    validation='blur'
    type=formType
    doc=item
    buttonContent='Enviar'
    afFieldInput-placeholder="schemaLabel"
    omitFields=omitFields
    autosave=false
    }}
</template>

<template name="customersearch">

    <div class="row">
        <div class="col-md-6">
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                <input class="form-control" type="text" id="filtro" placeholder="{{_ 'search'}} {{_ 'customer'}}...">
            </div>

        </div>
    </div>
    <hr>

    {{#each customers}}

        <div class="row select" id="{{_id}}">
            <div class="customer">
                {{>customer}}
            </div>

            <div class="col-xs-2">
                <a href="{{pathFor 'customersedit'}}" class="btn btn-primary btn-circle glyphicon glyphicon-edit"></a>
                <i class="btn btn-danger btn-circle remove glyphicon glyphicon-trash"></i>
            </div>
            <hr>
        </div>
    {{/each}}
    {{#if mostrarBtnMas}}
        <div class="row">
            <div class="col-md-1">
                <button id="quieromas" type="button" class="btn btn-info">quiero más!</button>
            </div>
        </div>
    {{/if}}
</template>