<template name="cylinders">
         <span>
            <h4>{{_ 'cylinders'}} <a href="{{pathFor 'cylindersnew'}}" class="btn btn-success">{{_ "new"}}</a></h4>

   </span>
    {{>cylindersearch}}

</template>
<template name="cylindersearch">


    <div class="row">
        <div class="col-md-6">
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                <input class="form-control" type="text" id="filtro" placeholder="{{_ 'search'}} {{_ 'cylinder'}}...">
                <span class="input-group-addon"><a href="{{pathFor 'cylindersnew'}}"><i class="fa fa-plus-circle"></i></a></span>
            </div>

        </div>
    </div>
    <hr>
    <h3>
        <div class="row">
            <div class="col-md-2">{{_ 'cylinder'}}</div>

        </div>
    </h3>
    <hr>
    {{#each items}}

            <div class="row select downborder">

                <div class="col-md-3 cylinder">
                    <div class="row">
                        {{>cylinder}}
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        {{#with customer}}
                            <div class="col-md-2">{{name}} {{email}}</div>
                            <div class="col-md-8">{{phone}} - {{address}}</div>
                        {{/with}}
                    </div>
                </div>
                <div class="col-md-2">
                    <button id="printBarCode" class="btn btn-default btn-circle fa fa-barcode"></button>
                    {{#if addToOrder}}
                        <button id="addTubeToOrder"  class="btn btn-primary  btn-circle fa fa-plus-circle">
                        </button>
                    {{/if}}
                    {{#if allowEdit}}
                        <a href="{{pathFor 'cylindersedit'}}" class="btn btn-primary  btn-circle glyphicon glyphicon-edit"></a>
                        <i id="deleteTube" class="btn btn-danger btn-circle fa fa-trash-o"></i>
                    {{/if}}
                </div>
            </div>

    {{/each}}

    {{#if mostrarBtnMas}}
        <div class="row">
            <div class="col-md-1">
                <button id="quieromas" type="button" class="btn btn-info">quiero más!</button>
            </div>
        </div>
    {{/if}}
    <div class="printable" style="visibility: hidden">
        <div id="bcTarget"></div>
    </div>




</template>
<template name="cylinder">
    <div class="col-xl-2">
        <b>{{cylinder_number}}</b>
    </div>
    <div class="col-xl-1">{{class}}</div>
    <div class="col-xl-2">
        <label class="label label-{{lastph.style}}">{{lastph.fecha}}</label>
        {{#if lastph.approved}}
            <label class="label label-primary">{{lastph.due_date}}</label>
        {{/if}}
    </div>
</template>

<template name="cylindersnew">
    <h4>{{_ 'new'}} {{_ 'cylinder'}}</h4>
        {{> quickForm id='cylindersnew'
        collection='Cylinders'
        validation='blur'
        type='insert'
        buttonContent='Guardar'
        afFieldInput-placeholder="schemaLabel"
        omitFields='_id,userId,createdAt,companyId,updatedAt,customerId,type_base,test_pressure,thickness,due_date,approved,manufacturing_date,comments,cancel_alerts,makeph'
        autosave=false
        }}

</template>
<template name="cylindersedit">
    <h4>{{_ 'new'}} {{_ 'cylinder'}}</h4>
    {{> quickForm id='cylindersnew'
    collection='Cylinders'
    validation='blur'
    type=formType
    doc=item
    buttonContent='Enviar'
    afFieldInput-placeholder="schemaLabel"
    omitFields=omitFields
    autosave=false
    }}

</template>

