<template name="invoices" xmlns="http://www.w3.org/1999/html">
     <span>
        <h1>{{_ 'workorders'}} Sin Remitar
        </h1>
     </span>
    <h3>
        <div class="row">
            <div class="col-md-1">Fecha de Ingreso</div>
            <div class="col-md-1">Número de Órden</div>
            <div class="col-md-2">Cilindro</div>
            <div class="col-md-2">Cliente</div>
            <div class="col-md-2">Tareas</div>
            <div class="col-md-2>"></div>
        </div>
    </h3>
    <hr>
    {{#each items}}
        <div class="row downborder">
            {{>workorder}}

            <div class="col-md-2">
                {{#if isInRole 'admin,encargado'}}
                            <button class="toinvoice btn btn-success btn-circle fa fa-info"
                                    data-toggle="tooltip" data-placement="top" title="Pasar a Órdenes Remitadas"></button>
                {{/if}}
            </div>



        </div>
    {{/each}}
</template>


