<template name="layout">


    <div class="container">

        <div style="padding-top: 70px" id="status" class="collapse">

            {{> status}}

        </div>
        {{#if currentUser}}
            {{> menu}}
           <!-- <div class="alert alert-warning" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Memorandum 01/2016 - Dirección Ejecutiva</strong><br>
                A partir del día 13 de Enero del corriente año, el horario de entrada del personal administrativo
                será a partir de las 07:00 A.M., quedando exceptuados del presente todo aquel personal con horario rotativo.
            </div>-->
        <div style="padding-top: 70px">
            {{> yield}}
        </div>
        {{else}}
            {{> yield}}
        {{/if}}




    </div>
</template>
