<template name="roles">
        <div class="row">
            <div class="col-md-4">
                <input type="text" id="rol">
                <button type="button" id="agregarRol" class="btn btn-primary">+</button>
            </div>
        </div>
          {{#each roles}}
      <div class="row">
        {{>rol}}
          <div class="col-xs-1">
              <i id="removeRol" class="glyphicon glyphicon-trash"></i>
          </div>
      </div>
  {{/each}}

</template>
<template name="rol">
        <div class="col-xs-4">
          {{name}}
        </div>
</template>