<template name="users">

        <section id="main-content">
      <section class="wrapper">

          <div class="row">
              <div class="col-xs-6">
                  <label for="selectUser">Users</label>
                  <select class="form-control" id="selectUser">
                      {{#each users}}
                          <option value="{{_id}}">{{profile.name}}
                              {{emails.[0].address}} -
                              Google:{{services.google.email}}</option>
                      {{/each}}
                  </select>
              </div>
              <div class="col-xs-6">
                  <div class="row">
                          <div class="col-xs-6">
                              <label for="selectRol">Roles</label>
                              <select class="form-control" id="selectRol">
                                  {{#each roles}}
                                      <option value="{{name}}">{{name}}</option>
                                  {{/each}}
                              </select>
                              <button class="addRol btn btn-primary glyphicon glyphicon-plus">Rol</button>
                          </div>
                  </div>
              </div>
          </div>


      <hr>
          <div class="row">
              <div class="col-xs-12">
                  {{#each users}}

                      {{>user}}


                      <hr>
                  {{/each}}
              </div>
          </div>

      </section>
    </section>

</template>

<template name="user">
    <div class="row">
        <div class="col-xs-5">
            <input id="user_{{_id}}" class="profileName form-control" type="text" value="{{nombre}}">
       </div>

        <div class="col-xs-1">
          <i id="removeUser" class="glyphicon glyphicon-trash"></i>
        </div>

    </div>
    <div class="row">

        <div class="col-xs-5">
            <h4>Companies</h4>
            {{#each companies}}
                <div class="row">
                    {{>company}}
                    <div class="col-xs-1">
                        <i class="removeUserFromCompany glyphicon glyphicon-trash"></i>
                    </div>
                </div>

            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>Roles</h4>
            {{#each rolesPorUsuario}}

                <div class="row">
                    {{>rol}}
                    <div class="col-xs-1">
                        <i id="removeUserFromRol" class="glyphicon glyphicon-trash"></i>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</template>
