<template name="workordersoperador">
    <h1>Cálculo de PH</h1>
    <h2>Órdenes de Trabajos Pendientes</h2>
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <input id="codebar" type="text" class="form-control" placeholder="Ingrese el código de barras" >
        </div>
    </div>

    <hr>
    <h3>
        <div class="row">
                <div class="col-md-1">Fecha de Ingreso</div>
                <div class="col-md-1">Número de Órden</div>
                <div class="col-md-2">Cilindro</div>
                <div class="col-md-2">Cliente</div>
                <div class="col-md-2">Observaciones</div>
                <div class="col-md-2">Tareas</div>
                <div class="col-md-2>"></div>
        </div>
    </h3>
    <hr>
    {{#each items}}
        <div class="row downborder">
            {{>workorder}}
            <div class="col-xs-2">
                <a href="{{pathFor 'workordersedit'}}" class="btn-circle btn btn-primary glyphicon glyphicon-edit"></a>
            </div>
        </div>
    {{/each}}

</template>