<template name="workordernewprocess">
    <h1>Nuevo Ingreso de Trabajo</h1>
    <div class="neworderstep1">
        {{#unless selectedcustomer}}
            <div class="selectcustomer">
                <h4>Seleccione un Cliente o <button id="newcustomer" class="btn btn-primary">ingrese un nuevo</button> </h4>
                {{>customersearch}}
            </div>
            <div class="newcustomer">
                {{>customersnew}}
            </div>
        {{else}}
            {{#with selectedcustomer}}
                {{>selectedcustomer}}
            {{/with}}
            <div>
                {{#if cylinders}}
                    <!--<div style="padding-bottom: 3px">
                        <a href="{{pathFor 'dashboard'}}"  class="btn btn-primary fa fa-arrow-circle-o-left">TERMINAR</a>
                    </div>-->

                    <div class="selectedcylinders">
                        <div class="jumbotron">
                            <h4>{{_ 'cylinders'}}:</h4>
                            {{#each cylinders}}
                                <div class="row">
                                    {{>cylinder}}
                                <!--    <div class="col-md-2">
                                        <button id="printBarCode" class="btn btn-default btn-circle fa fa-barcode"></button>
                                    </div>-->

                                </div>
                                <div class="row downborder">
                                    {{#autoForm id='workordersnewprocess'
                                    collection='WorkOrders'
                                    validation='blur'
                                    type='insert'
                                    afFieldInput-placeholder="schemaLabel"
                                    autosave=false
                                    template="bootstrap3-horizontal"
                                    }}
                                        <fieldset>
                                            {{> afQuickField name='cylinderId' type="hidden" value=_id}}
                                            {{> afQuickField name="tasks" options="allowed" noselect=true type="select-checkbox-inline"}}
                                            {{> afQuickField name='observations'}}
                                        </fieldset>

                                        <button id="generar" type="submit" class="btn btn-primary">Generar Orden</button>

                                    {{/autoForm}}
                                </div>
                            {{/each}}
                        </div>
                    </div>


                {{/if}}

                <div class="cylindernew">
                    {{>cylindersnew}}
                </div>

                <div class="cylindersearch">
                    <h4> o seleccione un {{_ 'cylinder'}}</h4><!-- o <button id="newcylinder" class="btn btn-primary">ingrese un nuevo</button>-->
                    {{>cylindersearch}}
                </div>
            </div>

        {{/unless}}
    </div>
    {{#if lastdoc}}
        <hr>
        <button id="print" class="btn btn-default"><i class="fa fa-print"></i> Última Orden</button>
        <div id="workorderprint">

        <table>
            <tr>
                <td><h2>ORDEN DE TRABAJO Nº   {{lastdoc.workorder_number}}</h2></td>
                <td><div id="codebar" style="font-size: xx-large"></div></td>
            </tr>
        </table>
        <div>

        </div>

        <table cellspacing=0 border=1 style="text-align: center;font-size: small">

            <tr>

                <td style=min-width:50px><b>Observaciones</b></td>
                <td colspan="3">{{lastdoc.observations}}</td>

            </tr>
            <tr>

                <td style=min-width:50px><b>PROPIETARIO</b></td>
                <td colspan="3"><b>{{lastdoc.customer.name}}</b></td>

            </tr>
            <tr>

                <td style=min-width:50px><b>FECHA</b></td>
                <td colspan="3">{{lastdoc.createdAt}}</td>
            </tr>
            <tr>

                <td style=min-width:50px><b>CLASE</b></td>
                <td style=min-width:100px>{{lastdoc.cylinder.class}}</td>

                <td style=min-width:50px><b>OVALIZACION</b></td>
                <td style=min-width:100px></td>
            </tr>
            <tr>

                <td style=min-width:50px><b>CAPACIDAD</b></td>
                <td>{{lastdoc.cylinder.capacity}}</td>
                <td style=min-width:50px>MEDIDA 1</td>
                <td style=min-width:50px></td>
            </tr>
            <tr>

                <td style=min-width:50px><b>CILINDRO Nº</b></td>
                <td>{{lastdoc.cylinder.cylinder_number}}</td>
                <td style=min-width:50px>MEDIDA 2</td>
                <td style=min-width:50px></td>
            </tr>
            <tr>

                <td style=min-width:50px><b>TIPO DE BASE DEL CILINDRO</b></td>
                <td></td>
                <td style=min-width:50px>MEDIDA 3</td>
                <td style=min-width:50px></td>
            </tr>
            <tr>

                <td style=min-width:50px><b>INSPECCION OCULAR</b></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr>

                <td style=min-width:50px><b>INSPECCION DE ROSCA</b></td>
                <td></td>
                <td style=min-width:50px>MEDIDA 1</td>
                <td style=min-width:50px></td>
            </tr>
            <tr>

                <td style=min-width:50px><b>PRESION DE PRUEBA</b></td>
                <td></td>
                <td style=min-width:50px>MEDIDA 2</td>
                <td style=min-width:50px></td>
            </tr>
            <tr>

                <td style=min-width:50px><b>ESPESOR DEL CILINDRO</b></td>
                <td></td>
                <td style=min-width:50px>MEDIDA 3</td>
                <td style=min-width:50px></td>
            </tr>
            <tr>
                <td colspan="5">

                </td>
            </tr>

            <tr>

                <td style=min-width:50px><b>P.TRABAJO</b></td>
                <td></td>
                <td style=min-width:50px><b>ESPESORES</b></td>
                <td style=min-width:50px></td>
            </tr>
            <tr>

                <td style=min-width:50px><b>MASA</b></td>
                <td></td>
                <td style=min-width:50px>MEDIDA 1</td>
                <td style=min-width:50px></td>
            </tr>
            <tr>

                <td style=min-width:50px><b>CONTROL MASA</b></td>
                <td></td>
                <td style=min-width:50px>MEDIDA 2</td>
                <td style=min-width:50px></td>
            </tr>
            <tr>

                <td style=min-width:50px><b>CILINDRO LLENO DE AGUA</b></td>
                <td></td>
                <td style=min-width:50px>MEDIDA 3</td>
                <td style=min-width:50px></td>
            </tr>
            <tr>

                <td style=min-width:50px><b>LECTURA BURETRA MAXIMA</b></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr>

                <td style=min-width:50px><b>TEMPERATURA</b></td>
                <td></td>
                <td style=min-width:50px>MEDIDA 4 </td>
                <td style=min-width:50px></td>
            </tr>
            <tr>

                <td style=min-width:50px><b>LECTURA BURETRA FINAL</b></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </table>



    </div>
    {{/if}}




</template>
<template name="selectedcustomer">
    <div class="jumbotron">
        <h2>Cliente: {{name}}</h2>
    </div>

</template>
