<template name="workorders" xmlns="http://www.w3.org/1999/html">
     <span>
        <h1>{{_ 'workorders'}} Terminadas <!--<a id="newWorkOrder" href="{{pathFor 'workordersnew'}}" class="btn btn-primary">{{_ "new"}}</a>-->
        </h1>
     </span>
     {{>workordersearch}}

</template>
<template name="workordersfinished" xmlns="http://www.w3.org/1999/html">
     <span>
        <h1>Certificados Terminados <!--<a id="newWorkOrder" href="{{pathFor 'workordersnew'}}" class="btn btn-primary">{{_ "new"}}</a>-->
        </h1>
     </span>
    {{>workordersearch}}

</template>
<template name="workordersearch">


    <!--<div class="row">
        <div class="col-md-6">
            <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-search fa-fw"></i>

                        {{#if notfound}}
                            <i class="fa fa-fw fa-frown-o"></i>
                        {{/if}}
                    </span>
                <input class="form-control" type="text" id="filtro" placeholder="{{_ 'search'}}...">
            </div>

        </div>
    </div>-->
    <hr>

    <h3>
        <div class="row">
            <div class="col-md-1">Fecha de Ingreso</div>
            <div class="col-md-1">Número de Órden</div>
            <div class="col-md-2">Cilindro</div>
            <div class="col-md-2">Cliente</div>
            <div class="col-md-2">Observaciones</div>
            <div class="col-md-2">Tareas</div>
            <div class="col-md-2>"></div>
        </div>
    </h3>
    <hr>
    {{#each items}}
        <div class="row downborder">
            {{>workorder}}

            <div class="col-md-2">
                {{#if allowEdit}}
                    <!--<i class="btn-circle btn btn-warning  fa fa-arrow-up"></i>-->
                    <a href="{{pathFor 'workordersedit'}}" class="btn-circle btn btn-primary glyphicon glyphicon-edit"></a>
                {{/if}}
                <!--<i id="deleteTube" class="btn-circle btn btn-danger fa fa-trash-o"></i>-->

                {{#if isInRole 'admin,encargado'}}
                    <!--<i class="label label-success btn-circle fa-hand-o-up"></i>-->
                    <a href="{{pathFor 'certificatepdf'}}" class="btn btn-default btn-circle fa fa-print"></a>

                    {{#if approved}}
                        {{#if stamp}}
                            <!--<button class="send btn btn-default btn-circle fa fa-send-o"></button>-->
                            {{#unless sent}}
                                <button class="tocertificated btn btn-success btn-circle fa fa-thumbs-o-up"
                                    data-toggle="tooltip" data-placement="top" title="Pasar a Certificados Terminados"></button>
                            {{/unless}}
                        {{/if}}

                        <div style="padding: 3px">
                            <input type="text" class="stamp form-control"
                                   placeholder="estampilla" value="{{stamp}}"
                                   style="text-transform:uppercase">
                        </div>


                    {{else}}
                        {{#unless sent}}
                            <button class="tocertificated btn btn-danger btn-circle fa fa-thumbs-o-down"
                                data-toggle="tooltip" data-placement="top" title="Pasar a Certificados Terminados"></button>
                        {{/unless}}

                    {{/if}}
                {{/if}}
            </div>



        </div>
    {{/each}}

    {{#if mostrarBtnMas}}
        <div class="row">
            <div class="col-md-1">
                <button id="quieromas" type="button" class="btn btn-info">quiero más!</button>
            </div>
        </div>
    {{/if}}




</template>
<template name="workorder">
    <div class="col-md-1">{{createdAt}}</div>
    <div class="col-md-1">{{workorder_number}}</div>
    <div class="col-md-2">
            {{#each cylinders}}
                <div class="row">
                    {{>cylinder}}
                </div>
            {{/each}}
        </div>
    <div class="col-md-2">{{customer}}</div>
    <div class="col-md-2">{{observations}}</div>
    <div class="col-md-2">
        {{#each tasks}}
            <label class="{{task_state}}">{{task}}</label>
        {{/each}}
    </div>


</template>

<template name="workordersnew">
    <h1>Nueva {{_ 'workorder'}}</h1>

    <!--cylinder selected-->
    {{#if selectedcylinder}}
            <div class="jumbotron">
            <div class="row">
            <h4>{{_ 'cylinder'}} seleccionado</h4>
            {{#with selectedcylinder}}
                <b>{{>cylinder}}</b>
            {{/with}}

            </div>
            <div class="row">
            <a class="large pull-right" href="{{pathFor 'workorders'}}" data-cancel>{{_ 'cancel'}}</a>


            {{#autoForm id='workordersnew'
            collection='WorkOrders'
            validation='blur'
            type='insert'
            afFieldInput-placeholder="schemaLabel"
            omitFields=omitFields
            autosave=false
            template="bootstrap3-horizontal"
            }}
                <fieldset>
                    {{> afQuickField name='cylinderId' type="hidden"}}
                    {{> afQuickField name="tasks" options="allowed" noselect=true type="select-checkbox-inline"}}
                    {{> afQuickField name='observations'}}
                </fieldset>
                <button type="submit" class="btn btn-primary">Guardar</button>

            {{/autoForm}}
            <a class="large pull-right" href="{{pathFor 'workorders'}}" data-cancel>{{_ 'cancel'}}</a>
        </div>
        </div>
    {{else}}
        <div class="jumbotron">
            {{>cylindersearch}}
        </div>
    {{/if}}
    <!--cylinder selected-->



</template>
<template name="workordersedit">
    <div class="row">
        {{#unless item.confirm_date}}
            <div class="col-xs-6">
           <h1>{{_ 'edit'}} {{_ 'workorder'}}
           </h1>
           <div style="text-align: center">
               <h2>
                   {{#each tasks}}
                       <span class="{{task_state}} task">{{task}}</span>
                   {{/each}}
               </h2>
           </div>
                {{> quickForm id='cylinderinwo'
                collection='Cylinders'
                validation='blur'
                type="update"
                doc=item.cylinder
                buttonContent='Actualizar datos del Cilindro'
                afFieldInput-placeholder="schemaLabel"
                omitFields='_id,userId,createdAt,companyId,updatedAt,customerId,cylinder_number,class,capacity,due_date,approved,comments,cancel_alerts,makeph'
                autosave=true
                template="bootstrap3-horizontal"
                label-class="col-sm-6"
                input-col-class="col-sm-6"
                id-prefix="_id"
                }}
                {{#if show_ph}}
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-6 control-label" for="visual_inspection">Inspección Ocular</label>
                            <div class="col-sm-6">

                                <button id="visual_inspection" class="btn btn-circle {{visual_inspection_class}}"></button>
                            </div>
                        </div>
                    </form>
                        {{> quickForm id='workordersnew'
                            collection='WorkOrders'
                            validation='blur'
                            type='update'
                            doc=item
                            buttonContent='Enviar'
                            afFieldInput-placeholder="schemaLabel"
                            omitFields=omitFields
                            autosave=true
                            template="bootstrap3-horizontal"
                            label-class="col-sm-6"
                            input-col-class="col-sm-6"
                            id-prefix="_id"
                        }}
                    
                {{/if}}


               <a class="large pull-right" href="{{pathFor 'workorders'}}" data-cancel>{{_ 'go_back'}}</a>

       </div>
        {{else}}
            <div>
                <h2>
                    {{#each tasks}}
                        <span class="label label-primary">{{task}}</span>
                    {{/each}}
                </h2>
            </div>
        {{/unless}}
       <div class="col-xs-6">
           <div class="row">
               <div class="col-xs-6">
                   <a class="btn btn-info" id="compose" href="https://www.google.com.ar/#q=80+cu+ft+in+liter" target="_blank">
                       Conversor de Unidades
                   </a>
               </div>
               <div class="col-xs-6">
                   <a class="large pull-right" href="{{pathFor 'workorders'}}" data-cancel>{{_ 'go_back'}}</a>
               </div>
           </div>
           <h4>Datos y Cálculos</h4>
            <div class="datos_order">
           {{#with item}}
               <div class="row downborder">
                   <div class="col-xs-6">{{_ 'number'}}</div>
                   <div class="col-xs-6">{{workorder_number}}</div>
               </div>
               <div class="row downborder">
                   <div class="col-xs-6">{{_ 'date'}}</div>
                   <div class="col-xs-6">{{createdAt}}</div>
               </div>
               <div class="row downborder">
                   <div class="col-xs-6">{{_ 'last_update'}}</div>
                   <div class="col-xs-6">{{updatedAt}}</div>
               </div>
                   {{#with cylinder}}
                        {{>cylinderdata}}
                   {{/with}}
           {{/with}}

                {{#if show_ph}}
                    {{#with item}}
                       <div class="row downborder">
                           <div class="col-xs-6">{{_ 'work_pressure'}}</div>
                           <div class="col-xs-6">{{work_pressure}}</div>
                       </div>
                       <div class="row downborder">
                           <div class="col-xs-6">{{_ 'mass'}}</div>
                           <div class="col-xs-6">{{mass}}</div>
                       </div>
                       <div class="row downborder">
                           <div class="col-xs-6">{{_ 'mass_control'}}</div>
                           <div class="col-xs-6">{{mass_control}}</div>
                       </div>
                       <div class="row downborder">
                           <div class="col-xs-6">{{_ 'cylinder_volume'}}</div>
                           <div class="col-xs-6">{{cylinder_volume}}</div>
                       </div>
                       <div class="row downborder">
                           <div class="col-xs-6">{{_ 'burette_reading_max'}}</div>
                           <div class="col-xs-6">{{burette_reading_max}}</div>
                       </div>
                       <div class="row downborder">
                           <div class="col-xs-6">{{_ 'cm3_reading_max'}}</div>
                           <div class="col-xs-6">{{cm3_reading_max}}</div>
                       </div>
                       <div class="row downborder">
                           <div class="col-xs-6">Presión en Bares</div>
                           <div class="col-xs-6">{{cylinder.test_pressure}}</div>
                       </div>
                       <div class="row downborder">
                           <div class="col-xs-6">Temperatura</div>
                           <div class="col-xs-6">{{temperature}}</div>
                       </div>
                       <div class="row downborder">
                           <div class="col-xs-6">Factor de Comp</div>
                           <div class="col-xs-6">{{balancing_factor}}</div>
                       </div>
                       <div class="row downborder">
                           <div class="col-xs-6">Lectura Buretra Final</div>
                           <div class="col-xs-6">{{burette_reading_final}}</div>
                       </div>
                       <div class="row downborder">
                           <div class="col-xs-6">Lectura Final CM3</div>
                           <div class="col-xs-6">{{cm3_reading_final}}</div>
                       </div>
                       <div class="row downborder">
                            <div class="col-xs-6">Inspección Ocular</div>

                            <div class="col-xs-6">
                                <H2>
                                    {{#if visual_inspection}}
                                        <label class="label label-success">
                                            APROBADO
                                        </label>
                                    {{else}}
                                        <label class="label label-danger">
                                            RECHAZADO
                                        </label>
                                    {{/if}}
                                </H2>
                            </div>

                        </div>
                       <div class="row downborder">
                           <div class="col-xs-6">OVALIZACIÓN</div>

                           <div class="col-xs-6">
                               <H2>
                                   {{#if roundness_test}}
                                       <label class="label label-success">
                                           APROBADO
                                       </label>
                                   {{else}}
                                       <label class="label label-danger">
                                           RECHAZADO
                                       </label>
                                   {{/if}}
                               </H2>
                           </div>

                       </div>
                       <div class="row downborder">
                           <div class="col-xs-6">{{_ 'variation_thread'}}</div>
                               <div class="col-xs-6">
                           <H2>
                               {{#if variation_thread}}
                                   <label class="label label-success">
                                       APROBADO
                                   </label>
                               {{else}}
                                   <label class="label label-danger">
                                       RECHAZADO
                                   </label>
                               {{/if}}
                           </H2>
                       </div>
                       </div>
                       <div class="row downborder">
                           <div class="col-xs-6">DEFORMACION TOTAL %</div>
                           <div class="col-xs-6">
                               <H2>
                               {{#if deformation_test}}
                                   <label class="label label-success">
                                       APROBADO <span class="badge" >{{total_deformation}} %</span>
                                   </label>
                               {{else}}
                                   <label class="label label-danger">
                                       RECHAZADO <span class="badge">{{total_deformation}} %</span>
                                   </label>
                               {{/if}}
                               </H2>

                           </div>
                       </div>
                       <div class="row downborder">
                           <div class="col-xs-6">ESPESORES</div>

                           <div class="col-xs-6">
                               <H2>
                                   {{#if thickness_test}}
                                       <label class="label label-success">
                                           APROBADO
                                       </label>
                                   {{else}}
                                       <label class="label label-danger">
                                           RECHAZADO
                                       </label>
                                   {{/if}}
                               </H2>
                           </div>
                       </div>
                       <div class="row downborder">
                            {{#unless due_date}}
                                <div class="col-xs-6">
                                    AÑOS A VENCER
                                </div>
                                <div class="col-xs-6">
                                    <select id="vence" class="form-control" size="2">
                                        <option value="5" selected="selected">5</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                            {{else}}
                                <div class="col-xs-6">
                                    VENCIMIENTO
                                </div>
                                <div class="col-xs-6">
                                    {{due_date}}
                                </div>
                            {{/unless}}


                        </div>
                    {{/with}}
                {{/if}}
               {{#with item}}
               <div class="row downborder" style="padding: 3px;">
                   <div class="col-xs-6">
                       {{confirm_date}}
                   </div>
                       <div class="col-xs-6">
                           {{#unless confirm_date}}
                              <h2>
                                  <b><button id="confirmWorkOrder" class="btn btn-info">Confirmar</button></b>
                              </h2>
                           {{else}}
                                <label class="label label-info">Confirmado</label>
                           {{/unless}}
                       </div>


               </div>

           {{/with}}
            </div>
       </div>



    </div>

</template>
<template name="cylinderdata">
    <div class="row downborder">
        <div class="col-xs-6">{{_ 'customer'}}</div>
        <div class="col-xs-6">{{customer}}</div>
    </div>
    <div class="row downborder">
        <div class="col-xs-6">{{_ 'class'}}</div>
        <div class="col-xs-6">{{class}}</div>
    </div>
    <div class="row downborder">
        <div class="col-xs-6">{{_ 'capacity'}}</div>
        <div class="col-xs-6">{{capacity}}</div>
    </div>
    <div class="row downborder">
        <div class="col-xs-6">{{_ 'type_base'}}</div>
        <div class="col-xs-6">{{type_base}}</div>
    </div>
    <div class="row downborder">
        <div class="col-xs-6">{{_ 'cylinder_number'}}</div>
        <div class="col-xs-6">{{cylinder_number}}</div>
    </div>
    <div class="row downborder">
        <div class="col-xs-6">{{_ 'test_pressure'}}</div>
        <div class="col-xs-6">{{test_pressure}}</div>
    </div>
    <div class="row downborder">
        <div class="col-xs-6">{{_ 'thickness'}}</div>
        <div class="col-xs-6">{{thickness}}</div>
    </div>


</template>


