/*@import url(https://fonts.googleapis.com/css?family=Pacifico);*/

body {
  margin: 0px 20px;
  padding-top: 50px;
  margin-bottom: 2em;
  font-family: 'Arial', sans-serif;
  background-color: #DEDCCF;
}

h1 {
  color: #8F181E;
  font-size: 21pt;
}
h2 {
  font-size: 14pt;
  color: #2C2C2C;
}
h3 {
  color: #8F181E;
  font-size: 12pt;
}
p {
  font-size: 14pt;
  color: #2C2C2C;
}

a {
  color: black;
}

.row {
  font-size:medium;
}

nav.navbar {
  color: #FFFFFF;
  background-color: #8F181E;
  border-bottom-color: transparent;
}
.navbar > a {
  color: #FFFFFF;
}
.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF;
}
.navbar-inverse .navbar-nav > li > a :hover {
  color: black;
}

footer {
  color: #FFFFFF;
}
.btn-lg {
  color: #FFFFFF;
  background-color: #8F181E;
  border-bottom-color: transparent;

}
.navbar span {
  color: #FFFFFF;
  font-family: 'Arial', sans-serif;
}
.navbar-inverse {
  background-color: #8F181E;
  border-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: transparent;
}
.black{
  font-size: 100px;
}
.yellow {
  color: #1b6d85;
}

.img-circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.btn-circle{
  border-radius: 50%;
}
.downborder{
  border-bottom:1px solid #8F181E;
  padding-top: 5px;
  padding-bottom: 5px;
}

.datos_order{
  font-weight: bold;
}

.neworderstep2{
  display: none;
}
.newcustomer{
  display: none;
}
/*.cylindernew{
  display: none;
}*/
.select:hover{
  cursor: pointer;
  border-color: #8F181E ;
  border-style: solid ;
  border-width: 1px;
  /*background-color:ghostwhite ;*/
}
.tooltip {

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*
nav.navbar {
  color: #FFFFFF;
  background-color: #199788;
  border-bottom-color: transparent;

}
.navbar i,
a {
  color: #FFFFFF;
}


.navbar-inverse .navbar-toggle {
  border-color: transparent;
}
.btn, button {
  border-radius: 2px;
}
.navbar-inverse {
  background-color:#549079;
  color:white;
  border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  font-size: 1.3em;
}
.navbar-brand > a >i {
  color:white;
  font-size: 1.3em;
}
.navbar-brand > img {
  max-height: 100%;
}

.btn-dash{
  font-size: 80px;
  padding:5%;
}

.imagenFondo {
  position: relative;
  left: 0;
  width: 10px;
  height: 10px;
}





.hide-comment {
  display: none;
}


*/

.datos{
  font-size:130px;
  background-color: #DEDCCF;
}