<template name="miscilindros">
    <h1>Mis Cilindros</h1>
    <div>
        <div class="row">
            <div class="col-md-3"><label class="label label-success" ><i class="fa fa-thumbs-o-up"></i></label> Aprobado</div>
            <div class="col-md-3"><label class="label label-warning" ><i class="fa fa-exclamation-triangle"></i></label> Por Vencer</div>
            <div class="col-md-3"><label class="label label-danger" ><i class="fa fa-thumbs-o-down"></i></label> Rechazado o Vencido</div>
            <div class="col-md-3"><label class="label label-default" ><i class="fa fa-question"></i></label> Sin PH</div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-4 col-md-2">
            Nro de Cilindro
        </div>
        <div class="col-xs-4 col-md-2">
            Clase
        </div>
        <div class="col-xs-4 col-md-2">
            Vencimiento
        </div>

    </div>
    <hr>
    {{#each cilindros}}
        <div class="row downborder">
            {{>micilindro}}
        </div>
    {{/each}}
    {{#if mostrarBtnMas}}
        <div class="row" style="padding: 10px">
            <div class="col-md-1">
                <button id="quieromas" type="button" class="btn btn-info">quiero más!</button>
            </div>
        </div>
    {{/if}}

</template>
<template name="micilindro">
    <div class="col-xs-4 col-md-2">
        <label class="label label-{{style_approved}}">
            {{cylinder_number}}
        </label>
    </div>
    <div class="col-xs-3 col-md-2">
        {{class}}
    </div>
        <div class="col-xs-3 col-md-2">
        {{#if approved}}
            <label class="label label-{{style_due_date}}">
                    {{due_date}}
                </label>
            {{else}}
            -
        {{/if}}
        </div>
    <div class="col-xs-2">
        <label id="btncomment" class="label label-default">
            <i class="fa fa-comments-o"></i>
              <span class="badge">{{comments.length}}</span>
        </label>

    </div>

    <div id="{{_id}}" class="comments" style="display: none">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    {{#if comments}}
                        <div class="jumbotron">
                            {{#each comments}}
                                <div class="row">
                                    {{>micilindrocomment}}
                                </div>

                            {{/each}}
                        </div>
                    {{/if}}
                </div>
            </div>
         <div class="row">
            <div class="col-xs-9 col-sm-6"><input id="newmsg{{_id}}" class="form-control"></div>
            <div class="col-xs-2 col-sm-1"><button class="btn btn-default sendmsg"><i class="fa fa-send-o"></i></button></div>

        </div>

    </div>

</template>
<template name="micilindrocomment">
    <div class="col-sm-4">
            <label class="label label-default">{{user_name}} {{time}}</label>
    </div>
    <div class="col-sm-6" style="text-align: right">
        {{comment}}
    </div>
</template>
