<template name="login">
    <div class="full-width-div">

            <form class="login-form"> <!-- action="index.html">-->
                <div class="login-wrap">
                    <p class="login-img"><img width="250px" src="favicon.png"></p>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon_mail_alt"></i></span>
                        <input id='email' type="text" class="form-control" placeholder="Email" autofocus required>

                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                        <input id="password"  type="password" class="form-control" placeholder="Contraseña" required>
                    </div>
                    <div class="input-group">
                        <span class="pull-right"> <a href="/recovery" id="enviarPws"> ¿Perdió su contraseña?</a></span>
                    </div>

                    <!--    <input type="checkbox" value="remember-me"> Remember me-->


                    <button class="btn btn-primary btn-lg btn-block" type="submit">Iniciar</button>
                    <a href="{{pathFor 'register'}}" class="btn btn-info btn-lg btn-block" type="submit">Registrarse</a>
                    <button id="loginGoogle" type="button"
                            class="btn btn-danger btn-lg btn-block">
                        <i class="fa fa-google"></i> Iniciar con Google</button>

                </div>
            </form>


    </div>
</template>

<template name="register">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="register-form">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Registración</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-lg-12">
                            <label>Email</label>
                            <input type="email"  class="form-control" id="email" value="">
                        </div>

                        <div class="form-group col-lg-6">
                            <label>Nombre</label>
                            <input type="text" name="" class="form-control" id="firstname" value="">
                        </div>

                        <!--<div class="form-group col-lg-6">
                            <label>Last Name</label>
                            <input type="text" name="" class="form-control" id="lastname" value="">
                        </div>-->

                        <div class="form-group col-lg-12">
                            <label>Contraseña</label>
                            <input type="password" name="" class="form-control" id="password" value="">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">Registrar</button>
                        <a href="/" type="submit" class="btn btn-primary">Cancelar</a>
                    </div>

                </div>
            </form>
        </div>
    </div>
</template>

<template name="recovery">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="recovery-form">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Recupere su contraseña</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-lg-12">
                            <label>Email</label>
                            <input type="email"  class="form-control" id="email" value="">
                        </div>


                        <div class="panel-footer">
                            <button type="submit" class="btn btn-primary">Recuperar</button>
                            <a href="/" type="submit" class="btn btn-primary">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>