<template name="menu">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="navbar-header">
            <a class="navbar-brand" href="{{pathFor 'root'}}">
          <span style="width: 30px"> <i class="fa fa-angle-left"></i>
              </span>
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        {{#if currentUser}}
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {{#if isInRole 'admin'}}
                        <li><hr></li>
                        <li>
                            <a href="{{pathFor 'users'}}">    Users</a>
                        </li>
                        <li>
                            <a href="{{pathFor 'roles'}}">    Roles</a>
                        </li>
                        <li><hr></li>
                    {{/if}}


                </ul>
                {{#if isInRole 'admin,encargado'}}
                    <ul class="nav navbar-nav navbar-left">


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-item"></i> {{_ "customers"}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{pathFor 'customers'}}"><i class="fa fa-fw fa-list"></i> {{_ "list"}}</a>
                                </li>
                                <li>
                                    <a href="{{pathFor 'customersnew'}}"><i class="fa fa-fw fa-plus-circle"></i> {{_ "new"}}</a>
                                </li>
                                <!--
                            <li class="divider"></li>
                            <li id="logout">
                                <a href="#" data-logout><i class="fa fa-fw fa-power-off"></i>{{_ 'logout'}}</a>
                            </li>-->
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-item"></i> {{_ "cylinders"}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{pathFor 'cylinders'}}"><i class="fa fa-fw fa-list"></i> {{_ "list"}}</a>
                                </li>
                                <li>
                                    <a href="{{pathFor 'cylindersnew'}}"><i class="fa fa-fw fa-plus-circle"></i> {{_ "new"}}</a>
                                </li>
                                <!--
                            <li class="divider"></li>
                            <li id="logout">
                                <a href="#" data-logout><i class="fa fa-fw fa-power-off"></i>{{_ 'logout'}}</a>
                            </li>-->
                            </ul>
                        </li>


                        <li>
                             <a href="{{pathFor 'workordernewprocess'}}"><i class="fa fa-fw fa-plus-circle"></i> Nuevo Ingreso de Trabajo</a>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav">
                        <li><a href="{{pathFor 'workordersoperador'}}">Cálculo de PH</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li><a href="{{pathFor 'workorders'}}">Órdenes Terminadas</a></li>

                    </ul>
                    <ul class="nav navbar-nav">
                        <li><a href="{{pathFor 'workordersfinished'}}">Certificados Terminados</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li><a href="{{pathFor 'invoices'}}">Sin Remitar</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li><a href="{{pathFor 'alerts'}}">Alertas</a></li>
                    </ul>


                {{/if}}

                {{#if isInRole 'operador'}}
                    <ul class="nav navbar-nav">
                        <li><a href="{{pathFor 'workordersoperador'}}">Cálculo de PH</a></li>
                    </ul>
                {{/if}}
                <!--{{#if isInRole 'admin,cliente'}}-->
                    <!--<ul class="nav navbar-nav">
                        <li><a href="{{pathFor 'pruebashidraulicas'}}">Pruebas Hidráulicas</a></li>
                    </ul>-->
                    <ul class="nav navbar-nav">
                        <li><a href="{{pathFor 'miscilindros'}}">Mis Cilindros</a></li>
                    </ul>
                <!--{{/if}}-->




                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{currentUser.profile.name}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <!--<li>
                                <a href="/profile"><i class="fa fa-fw fa-user"></i> Profile</a>
                            </li>
                            -->

                            <li class="divider"></li>
                            <li id="logout">
                                <a href="#" data-logout><i class="fa fa-fw fa-power-off"></i>{{_ 'logout'}}</a>
                            </li>
                        </ul>
                    </li>


                </ul>
            </div>
        {{/if}}


    </div>
    {{#unless connected}}
        <div class="alert alert-header" style="margin-top: 70px">
            <a class="btn btn-sm btn-default pull-right" href="#status" data-toggle="collapse">{{_ 'sync_now'}}</a>
            <small>
                <span class="glyphicon glyphicon-warning-sign"></span>
                {{_ 'no_internet'}}
            </small>
        </div>
    {{/unless}}


</template>
